{% extends "layout.html" %} {% block content %}
<div class="container headerless-content">
    <div class="row page-header center-content">
        <div class="row no-margin col">
            <a class="float-right btn btn-light" type="button" href="/encryption/viewall">
                <i class="bi bi-arrow-left"></i></a>
            <h4>101Cipher</h4>
        </div>
        <div class="btn-group float-right col-auto header-btn">
            <a class="btn btn-outline-primary"
                href="https://github.com/Jamal135/135Project/blob/main/functions/encryption/_101cipher_.py"
                target="_blank" onclick="this.blur();">Source </a>
        </div>
    </div>
    <br />
    <form id="calculationform" action="101cipher/result">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label for="key">Input Key</label>
                        <input type="text" class="form-control" name="key" placeholder="Key Input" />
                        <small id="keyhelp" class="form-text text-muted">Password for encryption and decryption.</small>
                        <small id="keyerror" class="form-text text-danger" style="display: none;"></small>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label for="inputnumber">Input Integer</label>
                    <textarea class="form-control" id="inputtext" name="number" rows="6"></textarea>
                    <div class="row">
                        <small id="numberhelp" class="hidden col form-text text-muted">The input integer
                            to be encrypted or decrypted.</small>
                        <small id="numbererror" class="col form-text text-danger" style="display: none"></small>
                        <div class="col-auto">
                            <button class="float-right btn btn-light" type="button" value="Clear"
                                onclick="javascript:eraseInputText('inputtext'); this.blur();"><i
                                    class="bi bi-eraser"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="hidden" name="secret" class="actiontype" value="secret" />
                        <input type="submit" name="encrypt" class="btn-margin btn btn-primary submitbutton"
                            value="Encrypt" onclick="this.blur();" />
                        <input type="submit" name="decrypt" class="btn btn-primary submitbutton" value="Decrypt"
                            onclick="this.blur();" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card resultcard" style="display: none;">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label for="outputnumber">Output Integer</label>
                        <textarea class="form-control" id="outputtext" name="result" rows="6" readonly></textarea>
                        <div class="row">
                            <small class="col-md-6 col-lg-6 form-text text-muted">The encrypted or decrypted output
                                integer.</small>
                            <div class="col"></div>
                            <div class="col-md-3 col-lg-3">
                                <button class="float-right btn btn-light" type="button"
                                    onclick="javascript:copyToClipboard(); this.blur();"><i
                                        class="bi bi-clipboard"></i></button>
                                <button class="float-right btn btn-light" type="button" value="Clear"
                                    onclick="javascript:moveToInput(); this.blur();"><i
                                        class="bi bi-box-arrow-up"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
</div>
{% endblock content %}