{% extends "layout.html" %}
{% block content %}
<div class="container headerless-content">
    <div class="row page-header center-content">
        <div class="row no-margin col">
            <a class="float-right btn btn-light" type="button" href="/encryption/viewall">
                <i class="bi bi-arrow-left"></i></a>
            <h4>135Cipher</h4>
        </div>
        <div class="btn-group float-right col-auto header-btn">
            <a class="btn btn-outline-primary blur-on-click"
                href="https://github.com/Jamal135/135project/blob/main/functions/cipher_135.py"
                target="_blank">Source
            </a>
        </div>
    </div>
    <br>
    <form id="calculationform" action="135cipher/result">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label for="key">Input Key</label>
                        <input type="text" class="form-control" name="key" id="key" placeholder="Key Input" />
                        <small id="keyhelp" class="form-text text-muted">Password for encryption and decryption.</small>
                        <small id="keyerror" class="form-text text-danger hidden"></small>
                    </div>
                    <div class="col-auto">
                        <label for="random">Random Noise</label>
                        <div class="form-check pl-0">
                            <input id="random" name="random" class="form-check-input" data-on="Enabled"
                                data-off="Disabled" type="checkbox" data-toggle="toggle">
                        </div>
                        <small id="randomhelp" class="form-text text-muted"> Add encrypt noise.</small>
                        <small id="randomerror" class="form-text text-danger hidden"></small>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="inputtext">Input Text</label>
                    <textarea class="form-control" id="inputtext" name="text" rows="6"></textarea>
                    <div class="row">
                        <small id="texthelp" class="col form-text text-muted">The input text to be
                            encrypted or decrypted.</small>
                        <small id="texterror" class="col form-text text-danger hidden"></small>
                        <div class="col-auto">
                            <button class="float-right btn btn-light erase-button blur-on-click" type="button" value="Clear">
                                <i class="bi bi-eraser"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="hidden" name="secret" class="actiontype" value="secret" />
                        <input type="submit" name="encrypt" class="btn-margin btn btn-primary submitbutton blur-on-click" value="Encrypt"/>
                        <input type="submit" name="decrypt" class="btn btn-primary submitbutton blur-on-click" value="Decrypt"/>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card resultcard hidden">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label for="outputtext">Output Text</label>
                        <textarea class="form-control" id="outputtext" name="result" rows="6" readonly></textarea>
                        <div class="row">
                            <small class="col-md-6 col-lg-6 form-text text-muted">The encrypted or decrypted output text.</small>
                            <div class="col"></div>
                            <div class="col-md-3 col-lg-3">
                                <button class="float-right btn btn-light copy-button blur-on-click" type="button">
                                    <i class="bi bi-clipboard"></i>
                                </button>
                                <button class="float-right btn btn-light move-to-input-button blur-on-click" type="button" value="Clear">
                                    <i class="bi bi-box-arrow-up"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
</div>
{% endblock content %}