{% extends "layout.html" %}
{% block content %}
<div class="container headerless-content">
    <div class="row">
        <div class="page-header center-content col-md-12 col-lg-6">
            <div class="row no-margin">
                <a class="float-right btn btn-light" type="button" href="/encryption/viewall">
                    <i class="bi bi-arrow-left"></i></a>
                <h4>135Cipher: Symmetric Encryption</h4>
            </div>
        </div>
        <div class="col"></div>
        <div class="btn-group col-md-12 col-lg-3">
            <a class="btn btn-outline-primary" href="/encryption/135cipher/about">About </a>
            <a class="btn btn-outline-primary"
                href="https://github.com/Jamal135/135Project/blob/main/functions/encryption/_135cipher_.py"
                target="_blank" onclick="this.blur();">Source</a>
        </div>
    </div>
    <br>
    <form id="encryptionform" action="135cipher/result">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <label for="key">Input Key</label>
                        <input type="text" class="form-control" name="key" placeholder="Key Input" />
                        <small id="keyhelp" class="form-text text-muted">Password for encryption and decryption.</small>
                        <small id="keyerror" class="form-text text-danger" style="display: none;"></small>
                    </div>
                    <div class="col"></div>
                    <div class="col-md-12 col-lg-2">
                        <label for="random">Random Noise</label>
                        <div class="form-check pl-0">
                            <input id="random" name="random" class="form-check-input" data-on="Enabled"
                                data-off="Disabled" type="checkbox" data-toggle="toggle">
                        </div>
                        <small id="randomhelp" class="form-text text-muted"> Add encrypt noise.</small>
                        <small id="randomerror" class="form-text text-danger" style="display: none;"></small>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="inputtext">Input Text</label>
                    <textarea class="form-control" id="inputtext" name="text" rows="6"></textarea>
                    <div class="row">
                        <small id="texthelp" class="col-md-6 col-lg-6 form-text text-muted">The input text to be
                            encrypted or
                            decrypted.</small>
                        <small id="texterror" class="col-md-6 col-lg-6 form-text text-danger"
                            style="display: none;"></small>
                        <div class="col"></div>
                        <div class="col-md-3 col-lg-3">
                            <button class="float-right btn btn-light" type="button" value="Clear"
                                onclick="javascript:eraseInputText(); this.blur();"><i
                                    class="bi bi-eraser"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="hidden" name="secret" class="actiontype" value="secret" />
                        <input type="submit" name="encrypt" class="btn-margin btn btn-primary submitbutton"
                            value="Encrypt" onclick="this.blur();" />
                        <input type="submit" name="decrypt" class="btn btn-primary submitbutton" value="Decrypt"
                            onclick="this.blur();" />
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card resultcard" style="display: none;">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label for="outputtext">Output Text</label>
                        <textarea class="form-control" id="outputtext" name="result" rows="6" readonly></textarea>
                        <div class="row">
                            <small class="col-md-6 col-lg-6 form-text text-muted">The encrypted or decrypted output
                                text.</small>
                            <div class="col"></div>
                            <div class="col-md-3 col-lg-3">
                                <button class="float-right btn btn-light" type="button"
                                    onclick="javascript:copyToClipboard(); this.blur();"><i
                                        class="bi bi-clipboard"></i></button>
                                <button class="float-right btn btn-light" type="button" value="Clear"
                                    onclick="javascript:moveToInput(); this.blur();"><i
                                        class="bi bi-box-arrow-up"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
</div>
{% endblock content %}