{% extends "layout.html" %}
{% block header %}
<div class="header-padding silver-background">
    <br>
    <h1 class="text-center">Encryption</h1>
    <br>
    <div class="container text-center">
        <p>Encryption is about obfuscating data such that unauthorised observers, ideally, can't understand it.
            Encryption
            historically has been vital in protecting wartime secrets and today is integral to the internet as we know
            it.</p>
        <a class="btn btn-outline-primary" href="https://en.wikipedia.org/wiki/Encryption" target="_blank">Learn
            More</a>
    </div>
    <div class="image-container image-encryption-viewall"></div>
</div>
{% endblock header %}
{% block content %}
<div class="container content">
    <div class="row">
        <div class="col-sm-6 col-md-4 mb-3">
            <div class="card text-center border-white card-height">
                <div class="card-header">135Cipher</div>
                <div class="card-body d-flex flex-column">
                    <p class="card-text">This is a simple substitution based cipher with variable shift values and
                        character
                        sequences by character.</p>
                    <div class="mt-auto">
                        <a class="btn btn-outline-primary" href="/encryption/135cipher">View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-3">
            <div class="card text-center border-white card-height">
                <div class="card-header">147Cipher</div>
                <div class="card-body d-flex flex-column">
                    <p class="card-text">This is a more advanced substitution cipher which builds upon 135Cipher and
                        adds
                        nonce generation per use.</p>
                    <div class="mt-auto">
                        <a class="btn btn-outline-primary" href="/encryption/147cipher">View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-3">
            <div class="card text-center border-white card-height">
                <div class="card-header">101Cipher</div>
                <div class="card-body d-flex flex-column">
                    <p class="card-text">This is a basic integer substitutation cipher purely designed to quickly
                        scramble numbers efficiently.</p>
                    <div class="mt-auto">
                        <a class="btn btn-outline-primary" href="/encryption/101cipher">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock content %}