{% extends "layout.html" %}
{% block header %}
<div class="header-padding silver-background">
    <br>
    <h1 class="text-center">About 135Code</h1>
    <br>
    <div class="container text-center">
        <p>This project is born of a passion for cryptography. This project seeks to be a valuable resource for learning
            and a place of innovation which can inspire others to apply themselves in an otherwise underappreciated
            field.</p>
        <a class="btn btn-primary" href="" target="_blank">Support</a>
        <div style="height: 20px;"></div>
    </div>
</div>
<div class="primary-bar"></div>
{% endblock header %}
{% block content %}
<div class="container content">
    <div class="row">
        <div class="col-sm-12 col-md-6 mb-2">
            <div class="card text-center border-white card-height">
                <img class="card-img-top" src="/static/images/about_education.png">
                <div class="card-body d-flex flex-column">
                    <p class="card-text">This </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mb-2">
            <div class="card text-center border-white card-height">
                <img class="card-img-top" src="/static/images/about_innovation.png">
                <div class="card-body d-flex flex-column">
                    <p class="card-text">This </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}