{% extends "layout.html" %}
{% block header %}
<div class="image-container image-homepage">
    <div class="card image-card justify-content-center">
        <h1 class="text-center">Data Manipulation</h1>
    </div>
</div>
{% endblock header %}
{% block content %}
<br>
<div class="container content">
    <div class="row">
        <div class="col-sm-6 col-md-6 mb-3">
            <div class="card text-center border-white card-height">
                <div class="card-header">Encryption</div>
                <div class="card-body d-flex flex-column">
                    <p class="card-text">Methods of scrambling data such that an observer can't discover the
                        original content without knowing the key used.</p>
                    <div class="mt-auto">
                        <a class="btn btn-primary" href="/encryption/viewall">View All</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-6 col-md-4 mb-3">
            <div class="card text-center border-white card-height">
                <div class="card-header">Steganography</div>
                <div class="card-body d-flex flex-column">
                    <p class="card-text">Methods of hiding information within other data such that outside
                        observers will not notice the secret data.</p>
                    <div class="mt-auto">
                        <a class="btn btn-primary" href="/steganography/viewall">View All</a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="col-sm-6 col-md-6 mb-3">
            <div class="card text-center border-white card-height">
                <div class="card-header">Data Tools</div>
                <div class="card-body d-flex flex-column">
                    <p class="card-text">Methods of manipulating and exploring data in various different
                        ways to achieve different outcomes.</p>
                    <div class="mt-auto">
                        <a class="btn btn-primary" href="/datatools/viewall">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock content %}