{% extends "layout.html" %}
{% block header %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 img-fluid"
                src="{{url_for('static', filename='images/other/home_encryption.png')}}" alt="First slide">
            <div class="container">
                <div class="carousel-caption d-flex flex-column justify-content-center h-100">
                    <div class="row justify-content-center">
                        <div class="card position-fixed" style="width: 26rem;">
                            <div class="card-body text-center">
                                <h1>Data Manipulation</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock header %}
{% block content %}
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="card border-white">
            <div class="card-header">Heading 1</div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build
                    on the card
                    title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card border-white">
            <div class="card-header">Heading 2</div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build
                    on the card
                    title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card border-white">
            <div class="card-header">Heading 3</div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build
                    on the card
                    title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock content %}