{% extends "layout.html" %}
{% block content %}
<div class="container headerless-content">
    <div class="row page-header center-content">
        <div class="row no-margin col">
            <a class="float-right btn btn-light" type="button" href="/datatools/viewall">
                <i class="bi bi-arrow-left"></i></a>
            <h4>Count Frequency</h4>
        </div>
        <div class="btn-group float-right col-auto header-btn">
            <a class="btn btn-outline-primary"
                href="https://github.com/Jamal135/135project/blob/main/functions/counttool.py"
                target="_blank" onclick="this.blur();">Source </a>
        </div>
    </div>
    <br />
    <form id="calculationform" action="counttool/result">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <label for="capitals">Case Sensitive</label>
                        <div class="form-check pl-0">
                            <input id="capitals" name="capitals" class="form-check-input" data-on="Enabled"
                                data-off="Disabled" type="checkbox" data-toggle="toggle">
                        </div>
                        <small id="capitalshelp" class="form-text text-muted"> Seperate capitals.</small>
                        <small id="capitalserror" class="form-text text-danger" style="display: none;"></small>
                    </div>
                    <div class="col-auto">
                        <label for="spaces">Include Spaces</label>
                        <div class="form-check pl-0">
                            <input id="spaces" name="spaces" class="form-check-input" data-on="Enabled"
                                data-off="Disabled" type="checkbox" data-toggle="toggle">
                        </div>
                        <small id="spaceshelp" class="form-text text-muted"> Count text spaces.</small>
                        <small id="spaceserror" class="form-text text-danger" style="display: none;"></small>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="inputtext">Input Text</label>
                    <textarea class="form-control" id="inputtext" name="text" rows="6"></textarea>
                    <div class="row">
                        <small id="texthelp" class="hidden col form-text text-muted">The input
                            text to frequency analyse.</small>
                        <small id="texterror" class="col form-text text-danger" style="display: none"></small>
                        <div class="col-auto">
                            <button class="float-right btn btn-light" type="button" value="Clear"
                                onclick="javascript:eraseInputText('inputtext'); this.blur();"><i
                                    class="bi bi-eraser"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="hidden" name="secret" class="actiontype" value="secret" />
                        <input type="submit" name="process" class="btn btn-primary submitbutton" value="Process"
                            onclick="this.blur();" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card resultcard" style="display: none;">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label for="outputtext">Output Text</label>
                        <textarea class="form-control" id="outputtext" name="result" rows="6" readonly></textarea>
                        <div class="row">
                            <small class="col-md-6 col-lg-6 form-text text-muted">Count and probability of each
                                character in input text.</small>
                            <div class="col"></div>
                            <div class="col-md-3 col-lg-3">
                                <button class="float-right btn btn-light" type="button"
                                    onclick="javascript:copyToClipboard(); this.blur();"><i
                                        class="bi bi-clipboard"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
</div>
{% endblock content %}