{% extends "layout.html" %}
{% block header %}
<div class="header-padding silver-background">
    <br>
    <h1 class="text-center">Data Tools</h1>
    <br>
    <div class="container text-center">
        <p>Data tools represents a collection of data analysis methods built to assist in the analysis of data from
            encryption or steganographic sources. Data analysis itself is a huge modern day field vital to 
            understanding the data around us.</p>
        <a class="btn btn-outline-primary" href="https://en.wikipedia.org/wiki/Data_analysis" target="_blank" onclick="this.blur();">Learn
            More</a>
    </div>
    <div class="image-container image-datatools-viewall"></div>
</div>
{% endblock header %}
{% block content %}
<br>
<div class="container content">
    <div class="row">
        <div class="col-sm-6 col-md-4 mb-3">
            <div class="card text-center border-white card-height">
                <div class="card-header">Base Tool</div>
                <div class="card-body d-flex flex-column">
                    <p class="card-text">This is a base conversion tool which converts number representations from
                        one specified base to another.</p>
                    <div class="mt-auto">
                        <a class="btn btn-primary" href="/datatools/basetool">View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-3">
            <div class="card text-center border-white card-height">
                <div class="card-header">Count Tool</div>
                <div class="card-body d-flex flex-column">
                    <p class="card-text">This is a frequency analysis tool which counts the number of occurences of
                        each character in an input.</p>
                    <div class="mt-auto">
                        <a class="btn btn-primary" href="/datatools/counttool">View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mb-3">
            <div class="card text-center border-white card-height">
                <div class="card-header">Image Tool</div>
                <div class="card-body d-flex flex-column">
                    <p class="card-text">This is a image comparison tool that returns an image showing the
                        differences between two images.
                    </p>
                    <div class="mt-auto">
                        <a class="btn btn-primary">Soon</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock content %}
