:root {
  --primary: #fa4664;
  --secondary: #bb0523;
  --homeimage: url(images/home_pink.svg);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #fafafa;
  color: #333333;
}

h1 {
  color: #444444;
}

.box-padding {
  padding-top: 8px;
}

.box {
  float: left;
  height: 40px;
  width: 40px;
  margin: 5px;
  border: 1px solid #fafafa;
}

.primary-color {
  background: #fa4664;
  background: var(--primary);
}

.secondary-color {
  background: #bb0523;
  background: var(--secondary);
}

h2,
h3,
h4,
h5,
h6 {
  color: #444444;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  text-align: center;
}

a {
  color: #fa4664;
  color: var(--primary);
}

footer a {
  color: #cbd5db;
}

a:hover,
a:focus,
a:active {
  color: #fa4664;
  color: var(--primary);
}

footer {
  margin-top: 32pt;
  background: #555555;
  color: #ffffff;
}

.footer-copyright {
  background: #444444;
}

.float-right {
  float: right;
}

.text-danger {
  color: red;
}

@media (max-width: 991px) {
  .page-header {
    margin-bottom: 12px;
  }
}

#outputtext,
#inputtext {
  text-align: justify;
  text-justify: inter-word;
  justify-content: space-evenly;
}

.form-control:focus {
  border-color: #fa4664;
  border-color: var(--primary);
  box-shadow: none;
}

.header-btn {
  width: 150px;
}

.footer-links {
  display: flex;
  padding: 8px 0;
  width: 100%;
  justify-content: space-between;
}

.content {
  flex-grow: 1;
  margin-top: 2rem;
}

.headerless-content {
  flex-grow: 1;
  margin-top: 5rem;
}

.center-content {
  align-self: center;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.small-image {
  max-height: 250px;
  max-width: 250px;
  height: auto;
  width: auto;
}

.no-margin {
  margin: 0;
}

.btn-margin {
  margin-right: 4px;
}

.nav-main-colour {
  background-color: #585858;
}

.nav-second-colour {
  background-color: #2e2e2e;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.silver-background {
  background-color: #d4cfcf;
}

.primary-bar {
  background-color: #fa4664;
  background-color: var(--primary);
  height: 5px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 5px auto;
  height: 8px;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: #e9ecef;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fa4664;
  background-color: var(--primary);
  overflow: visible;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fa4664;
  background: var(--primary);
  cursor: pointer;
}

.card-height {
  height: 100%;
}

.card-button {
  margin-bottom: 10px;
}

.navbar-nav > li {
  float: left;
  position: relative;
}

.navbar {
  padding: 0;
}

.navbar-light .navbar-nav .nav-item {
  margin: 8px 0;
}

.bootstrap-select .btn:focus {
  outline: none !important;
}

.navbar-light .navbar-nav .active {
  border-top: 5px solid #fa4664;
  border-top: 5px solid var(--primary);
}

.navbar-light .navbar-nav .active > a {
  margin-top: 3px;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #ffffff;
  background-color: #bb0523;
  background-color: var(--secondary);
}

.show > .dropdown-menu {
  max-height: 300px;
  visibility: visible;
}

.nav-animation {
  display: block;
  max-height: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.btn-block {
  margin-top: 0rem !important;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.btn-link:hover,
.btn-link:active,
.btn-link:focus {
  color: #fa4664 !important;
  color: var(--primary) !important;
  box-shadow: none !important;
}

.btn-primary {
  background-color: #fa4664;
  background-color: var(--primary);
  border-color: #fa4664;
  border-color: var(--primary);
  outline: #fa4664 !important;
  outline: var(--primary) !important;
  box-shadow: none !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #bb0523 !important;
  background-color: var(--secondary) !important;
  border-color: #bb0523 !important;
  border-color: var(--secondary) !important;
}

.btn-outline-primary {
  border-color: #fa4664;
  border-color: var(--primary);
  color: #fa4664;
  color: var(--primary);
  outline: #fa4664 !important;
  outline: var(--primary) !important;
  box-shadow: none !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  background-color: #bb0523 !important;
  background-color: var(--secondary) !important;
  border-color: #bb0523 !important;
  border-color: var(--secondary) !important;
  color: #cbd5db !important;
}

.btn-outline-secondary {
  border-color: #dfdfdf;
  color: #6c757e;
  outline: #dfdfdf !important;
  box-shadow: none !important;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:focus {
  background-color: #6c757e !important;
  border-color: #6c757e !important;
  color: #cbd5db !important;
}

.text-grey {
  color: #cbd5db;
}

.text-white {
  color: white;
}

.header-padding {
  margin-top: 55px;
}

.image-container {
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-homepage {
  background-image: url(images/home_pink.svg);
  background-image: var(--homeimage);
  height: 345px;
  margin-top: 55px;
}

.image-encryption-viewall {
  background-image: url(images/viewall_encryption.svg);
  height: 300px;
  margin-top: 45px;
}

.image-steganography-viewall {
  background-image: url(images/viewall_steganography.svg);
  height: 300px;
  margin-top: 45px;
}

.image-datatools-viewall {
  background-image: url(images/viewall_datatools.svg);
  height: 300px;
  margin-top: 45px;
}

.image-card {
  position: absolute;
  opacity: .95;
  top: calc(50% - 35px);
  left: calc(50% - 185px);
  width: 23rem;
}

.card-header {
  text-align: center;
  font-weight: bold;
  color: #444444
}

.card-text {
  text-align: center
}

.btn-file {
  position: relative;
  overflow: hidden
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block
}

#img-upload{
  width: 100%
}
