<footer class="page-footer font-small">
    <div class="container">
        <div class="justify-content-between d-flex">
            <a class="btn btn-block btn-link text-grey text-left" href="/disclaimer">Disclaimer</a>
            <a class="btn btn-block btn-link text-grey text-center" href="/settings">Settings</a>
            <a class="btn btn-block btn-link text-grey text-right" href="/privacy">Privacy</a>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
        <a class="text-white" href="https://github.com/Jamal135/135project" target="_blank">View Repository</a>
    </div>
</footer>