<nav class="navbar navbar-expand-md navbar-light navbar-dark nav-main-colour fixed-top">
    <div class="container" style="height: 56px;">
        <a class="navbar-brand mr-6 custom-navbar-brand" href="/">135Project</a>
        <nav class="navbar d-md-none navbar-expand mr-auto">
            <ul class="nav navbar-tabs navbar-nav" id="state">
                {% if (request.endpoint=="home") or (request.endpoint=="disclaimer") or (request.endpoint=="privacy") or
                (request.endpoint=="settings") %}
                <li class="active">
                    {% else %}
                <li>
                    {% endif %}
                    <a class="nav-item nav-link" href="/">Home</a>
                </li>
                {% if ("/encryption" in request.url) or ("/steganography" in request.url) or ("/datatools" in
                request.url) %}
                <li class="active dropdown">
                    {% else %}
                <li class="dropdown">
                    {% endif %}
                    <a class="nav-item nav-link dropdown-toggle" type="button" id="dropdown-encryption"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tools
                    </a>
                    <div class="dropdown-menu nav-animation" aria-labelledby="dropdown-encryption">
                        <a class="dropdown-item" href="/encryption/viewall">Encryption</a>
                        <a class="dropdown-item" href="/datatools/viewall">Data Tools</a>
                    </div>
                </li>
            </ul>
        </nav>
        <nav class="navbar d-none d-md-block mr-auto">
            <ul class="nav navbar-tabs navbar-nav" id="state">
                {% if (request.endpoint=="home") or (request.endpoint=="disclaimer") or (request.endpoint=="privacy") or
                (request.endpoint=="settings") %}
                <li class="active">
                    {% else %}
                <li>
                    {% endif %}
                    <a class="nav-item nav-link" href="/">Home</a>
                </li>
                {% if "/encryption" in request.url %}
                <li class="active dropdown">
                    {% else %}
                <li class="dropdown">
                    {% endif %}
                    <a class="nav-item nav-link dropdown-toggle" type="button" id="dropdown-encryption"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Encryption
                    </a>
                    <div class="dropdown-menu nav-animation" aria-labelledby="dropdown-encryption">
                        <a class="dropdown-item" href="/encryption/viewall">View All</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/encryption/135cipher">135Cipher</a>
                        <a class="dropdown-item" href="/encryption/147cipher">147Cipher</a>
                        <a class="dropdown-item" href="/encryption/101cipher">101Cipher</a>
                    </div>
                </li>
                {% if "/datatools" in request.url %}
                <li class="active dropdown">
                    {% else %}
                <li class="dropdown">
                    {% endif %}
                    <a class="nav-item nav-link dropdown-toggle" type="button" id="dropdown-datatools"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Data Tools
                    </a>
                    <div class="dropdown-menu nav-animation" aria-labelledby="dropdown-datatools">
                        <a class="dropdown-item" href="/datatools/viewall">View All</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/datatools/basetool">Base Tool</a>
                        <a class="dropdown-item" href="/datatools/counttool">Count Tool</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</nav>