{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="page-header center-content col-md-12 col-lg-6">
        <h4 class="no-margin">122Picture: Image Steganography</h4>
    </div>
    <div class="col"></div>
    <div class="btn-group col-md-12 col-lg-3">
        <a class="btn btn-outline-primary" href="/steganography/122picture/about">About </a>
        <a class="btn btn-outline-primary"
            href="https://github.com/Jamal135/135Project/blob/main/functions/steganography/_122picture_.py"
            target="_blank">Source</a>
    </div>
</div>
<br>
<form method="POST">
    {{ form.csrf_token }}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <label for="key">Input Key</label>
                    {% if form == "submitted" %}
                    <input type="text" class="form-control" name="key" value='{{ data["key"] }}' />
                    {% else %}
                    <input type="text" class="form-control" name="key" placeholder="Key Input" />
                    {% endif %}
                    {% if (form == "failed") and ('key' in errors) %}
                    <small id="keyhelp" class="text-danger form-text">{{errors['key']}}</small>
                    {% else %}
                    <small id="keyhelp" class="form-text text-muted">Password for positions data is attached.</small>
                    {% endif %}
                </div>
                <div class="col-md-0 col-lg"></div>
                <div class="col-md-6 col-lg-4">
                    <label for="position">Data Position</label>
                    <div class="row col">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="position">
                            <label class="btn btn-outline-secondary active">
                                <input type="checkbox" name="options" id="8" autocomplete="off"> 8
                            </label>
                            <label class="btn btn-outline-secondary active">
                                <input type="checkbox" name="options" id="7" autocomplete="off"> 7
                            </label>
                            <label class="btn btn-outline-secondary active">
                                <input type="checkbox" name="options" id="6" autocomplete="off"> 6
                            </label>
                            <label class="btn btn-outline-secondary active">
                                <input type="checkbox" name="options" id="5" autocomplete="off"> 5
                            </label>
                            <label class="btn btn-outline-secondary active">
                                <input type="checkbox" name="options" id="4" autocomplete="off"> 4
                            </label>
                            <label class="btn btn-outline-secondary active">
                                <input type="checkbox" name="options" id="3" autocomplete="off"> 3
                            </label>
                            <label class="btn btn-outline-secondary active">
                                <input type="checkbox" name="options" id="2" autocomplete="off"> 2
                            </label>
                            <label class="btn btn-outline-secondary active">
                                <input type="checkbox" name="options" id="1" autocomplete="off" checked> 1
                            </label>
                        </div>
                    </div>
                    {% if (form == "failed") and ('position' in errors) %}
                    <small id="positionhelp" class="text-danger form-text">{{errors['position']}}</small>
                    {% else %}
                    <small id="positionhelp" class="form-text text-muted">Character Set.</small>
                    {% endif %}
                </div>
                <div class="col-md col-lg-0"></div>
                <div class="col-md-5 col-lg-3">
                    <label for="RGB">RGB Selection</label>
                    <div class="row col">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="RGB">
                            <select class="selectpicker border rounded form-control" id="quantity" name="quantity">
                                {% if ((form == "submitted") and (data["quantity"] == "1") or (form == None)) %}
                                <option value="1" selected>1</option>
                                {% else %}
                                <option value="1">1</option>
                                {% endif %}
                                {% if (form == "submitted") and (data["quantity"] == "2") %}
                                <option value="2" selected>2</option>
                                {% else %}
                                <option value="2">2</option>
                                {% endif %}
                                {% if (form == "submitted") and (data["quantity"] == "3") %}
                                <option value="3" selected>3</option>
                                {% else %}
                                <option value="3">3</option>
                                {% endif %}
                            </select>
                            <label class="btn btn-outline-secondary active">
                                <input type="checkbox" name="options" id="red" autocomplete="off" checked> R
                            </label>
                            <label class="btn btn-outline-secondary active">
                                <input type="checkbox" name="options" id="green" autocomplete="off" checked> G
                            </label>
                            <label class="btn btn-outline-secondary active">
                                <input type="checkbox" name="options" id="blue" autocomplete="off" checked> B
                            </label>
                        </div>
                    </div>
                    {% if (form == "failed") and ('RGB' in errors) %}
                    <small id="rgbhelp" class="text-danger form-text">{{errors['RGB']}}</small>
                    {% else %}
                    <small id="rgbhelp" class="form-text text-muted">Data Location.</small>
                    {% endif %}
                </div>
            </div>
            <br />
            <div class="form-group">
                <label for="inputtext">Input Image</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-outline-secondary btn-file">
                            Browse… <input type="file" id="imgInp">
                        </span>
                    </span>
                    <input type="text" class="form-control" readonly>
                </div>
                <img id='img-upload' />
                <div class="row">
                    {% if (form == "failed") and ('text' in errors) %}
                    <small class="text-danger col-md-6 col-lg-6 form-text">{{errors['text']}}</small>
                    {% else %}
                    <small class="col-md-6 col-lg-6 form-text text-muted">The image to attach or extract data
                        from.</small>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="submit" name="encrypt" class="btn-margin btn btn-primary" value="encrypt" />
                    <input type="submit" name="decrypt" class="btn btn-primary" value="decrypt" />
                </div>
            </div>
        </div>
    </div>
    <br />
    {% if form == "submitted" %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label for="outputtext">Output Text</label>
                    {% if data["result"] == "Process Execution Failed" %}
                    <textarea class="text-danger form-control" id="outputtext" name="result" rows="6"
                        readonly>{{data["result"]}}</textarea>
                    {% else %}
                    <textarea class="form-control" id="outputtext" name="result" rows="6"
                        readonly>{{data["result"]}}</textarea>
                    {% endif %}
                    <div class="row">
                        <small class="col-md-6 col-lg-6 form-text text-muted">The encrypted or decrypted output
                            text.</small>
                        <div class="col"></div>
                        <div class="col-md-3 col-lg-3">
                            <button class="float-right btn btn-light" type="button"
                                onclick="javascript:copyToClipboard(); this.blur();"><i
                                    class="bi bi-clipboard"></i></button>
                            <button class="float-right btn btn-light" type="button" value="Clear"
                                onclick="javascript:moveToInput(); this.blur();"><i
                                    class="bi bi-box-arrow-up"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
</form>
{% endblock content %}