{% extends "layout.html" %}
{% block content %}
<div class="container headerless-content">
    <div class="row">
        <div class="page-header center-content col-md-12 col-lg-6">
            <div class="row no-margin">
                <a class="float-right btn btn-light" type="button" href="/steganography/viewall">
                    <i class="bi bi-arrow-left"></i></a>
                <h4>122Stego: Image Steganography</h4>
            </div>
        </div>
        <div class="col"></div>
        <div class="btn-group col-md-12 col-lg-3">
            <a class="btn btn-outline-primary" href="/steganography/122stego/about">About </a>
            <a class="btn btn-outline-primary"
                href="https://github.com/Jamal135/135Project/blob/main/functions/steganography/_122stego_.py"
                target="_blank">Source</a>
        </div>
    </div>
    <br>
    <form method="POST">
        {{ form.csrf_token }}
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-lg-4">
                        <label for="key">Input Key</label>
                        <input type="text" class="form-control" name="key" placeholder="Key Input" />
                        <small id="keyhelp" class="form-text text-muted">Password for positions data is
                            attached.</small>
                    </div>
                    <div class="col-md-0 col-lg"></div>
                    <div class="col-md-6 col-lg-4">
                        <label for="position">Data Positions</label>
                        <div class="row col">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="position">
                                <label class="btn btn-outline-secondary active">
                                    <input type="checkbox" name="options" id="8" autocomplete="off"> 8
                                </label>
                                <label class="btn btn-outline-secondary active">
                                    <input type="checkbox" name="options" id="7" autocomplete="off"> 7
                                </label>
                                <label class="btn btn-outline-secondary active">
                                    <input type="checkbox" name="options" id="6" autocomplete="off"> 6
                                </label>
                                <label class="btn btn-outline-secondary active">
                                    <input type="checkbox" name="options" id="5" autocomplete="off"> 5
                                </label>
                                <label class="btn btn-outline-secondary active">
                                    <input type="checkbox" name="options" id="4" autocomplete="off"> 4
                                </label>
                                <label class="btn btn-outline-secondary active">
                                    <input type="checkbox" name="options" id="3" autocomplete="off"> 3
                                </label>
                                <label class="btn btn-outline-secondary active">
                                    <input type="checkbox" name="options" id="2" autocomplete="off"> 2
                                </label>
                                <label class="btn btn-outline-secondary active">
                                    <input type="checkbox" name="options" id="1" autocomplete="off" checked> 1
                                </label>
                            </div>
                        </div>
                        <small id="positionhelp" class="form-text text-muted">Binary changed.</small>
                    </div>
                    <div class="col-md col-lg-0"></div>
                    <div class="col-md-5 col-lg-3">
                        <label for="RGB">RGB Selection</label>
                        <div class="row col">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="RGB">
                                <select class="selectpicker border rounded form-control" id="quantity" name="quantity">
                                    <option value="1" selected>1</option>
                                    <option value="2" selected>2</option>
                                    <option value="3" selected>3</option>
                                </select>
                                <label class="btn btn-outline-secondary active">
                                    <input type="checkbox" name="options" id="red" autocomplete="off" checked> R
                                </label>
                                <label class="btn btn-outline-secondary active">
                                    <input type="checkbox" name="options" id="green" autocomplete="off" checked> G
                                </label>
                                <label class="btn btn-outline-secondary active">
                                    <input type="checkbox" name="options" id="blue" autocomplete="off" checked> B
                                </label>
                            </div>
                        </div>
                        <small id="rgbhelp" class="form-text text-muted">Colours changed.</small>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label for="inputtext">Input Text</label>
                    <textarea class="form-control" id="inputtext" name="text" rows="6"></textarea>
                    <div class="row">
                        <small class="col-md-6 col-lg-6 form-text text-muted">The input text data to attach to
                            image.</small>
                        <div class="col"></div>
                        <div class="col-md-3 col-lg-3">
                            <button class="float-right btn btn-light" type="button" value="Clear"
                                onclick="javascript:eraseInputText(); this.blur();"><i
                                    class="bi bi-eraser"></i></button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputtext">Input Image</label>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-outline-secondary btn-file">
                                Browse… <input type="file" id="imgInp">
                            </span>
                        </span>
                        <input type="text" class="form-control" readonly>
                        <img id='img-upload' />
                    </div>
                    <div class="row">
                        <small class="col-md-6 col-lg-6 form-text text-muted">The image to store data inside.</small>
                        <div class="col"></div>
                        <div class="col-md-3 col-lg-3">
                            <button class="float-right btn btn-light" type="button" value="Clear"
                                onclick="javascript:removeImage(); this.blur();"><i class="bi bi-file-x"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="submit" name="process" class="btn-margin btn btn-primary" value="Process" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label for="outputtext">Output Text</label>
                        <textarea class="form-control" id="outputtext" name="result" rows="6"
                            readonly></textarea>
                        <div class="row">
                            <small class="col-md-6 col-lg-6 form-text text-muted">The encrypted or decrypted output
                                text.</small>
                            <div class="col"></div>
                            <div class="col-md-3 col-lg-3">
                                <button class="float-right btn btn-light" type="button"
                                    onclick="javascript:copyToClipboard(); this.blur();"><i
                                        class="bi bi-clipboard"></i></button>
                                <button class="float-right btn btn-light" type="button" value="Clear"
                                    onclick="javascript:moveToInput(); this.blur();"><i
                                        class="bi bi-box-arrow-up"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
</div>
{% endblock content %}