{% extends "layout.html" %}
{% block header %}
<div class="header-padding silver-background">
    <br>
    <h1 class="text-center">Steganography</h1>
    <br>
    <div class="container text-center">
        <p>Steganography is a lesser known area of cryptography all about concealing data within other bits of data.
            Steganography today
            is often used in secretly watermarking digital media ownership or for the covert sharing of data in various
            spaces.</p>
        <a class="btn btn-outline-primary" href="https://en.wikipedia.org/wiki/Steganography" target="_blank">Learn
            More</a>
    </div>
    <div class="image-container image-steganography-viewall"></div>
</div>
{% endblock header %}
{% block content %}
<div class="container content">
    <div class="row">
        <div class="col-sm-6 col-md-4 mb-3">
            <div class="card text-center border-white card-height">
                <div class="card-header">122Stego</div>
                <div class="card-body d-flex flex-column">
                    <p class="card-text">This is a random order least significant bit steganography tool which hides
                        data in
                        image pixel colour data.</p>
                    <div class="mt-auto">
                        <a class="btn btn-primary" href="/steganography/122stego">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock content %}